# Ignore everything in home
/*

# Allow only files/items I want

# Allow IdeaVim config
!IdeaVim/
!IdeaVim/.ideavimrc

# Important dotfiles
!.bashrc
!.gitignore
!.tmux.conf
!README.md


# Nvim config
!/.config/
!/.config/nvim/
!/.config/nvim/**


# Ignore Nvim lazy-lock
/.config/nvim/lazy-lock.json

# Ignore Tmux plugins
/.config/tmux/plugins/

# Ignore nextjs-nodejs config
/.config/nextjs-nodejs/
